<p class="mt4 mb4 f6 pv2 dib black sans-serif">
  The story was facilitated by {{ if .Params.facilitators }}{{ $fac := .Params.facilitators }}{{ $count := len $fac }}{{
  range $i, $name := $fac }}{{ if gt $i 0 }}{{ if eq $i (sub $count 1) }} and {{ else }}, {{ end }}{{ end }}<a
    href="/facilitators/{{ $name | urlize | lower }}/" class="link blue hover-black">{{ $name }}</a>{{ end }}{{ end }}
  {{ if .Params.editors }}
  <span>
    and edited by {{ $eds := .Params.editors }}{{ range $i, $name := $eds }}{{ if $i }}, {{ end }}<a
      href="/editors/{{ $name | urlize | lower }}/" class="link blue hover-black">{{ $name }}</a>{{ end }}.
  </span>
  {{ end }}

  {{ if .Params.coordinators }}
  <span>
    and coordinated by {{ $coords := .Params.coordinators }}{{ range $i, $name := $coords }}{{ if $i }}, {{ end }}<a
      href="/coordinators/{{ $name | urlize | lower }}/" class="link blue hover-black">{{ $name }}</a>{{ end }}.
  </span>
  {{ end }}

</p>